<nav class="navbar bg-light">
  <div class="container-fluid">
    <LinkTo @route="menu" class="navbar-brand">
      {{! <img
        src="/docs/5.2/assets/brand/bootstrap-logo.svg"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      /> }}
      FRESH-CAFE
    </LinkTo>
    <span>
      User Account
    </span>
  </div>
</nav>
{{yield}}
