<div class="navigation">
  <ul class="nav nav-pills nav-fill flex-column">
    <li class="nav-item">{{#link-to
        "menu"
        class="nav-link"
      }}Menu{{/link-to}}</li>
    <li class="nav-item">{{#link-to
        "orders"
        class="nav-link"
      }}Orders{{/link-to}}</li>
    <li class="nav-item">{{#link-to
        "cart"
        class="nav-link"
      }}Cart{{/link-to}}</li>
    <li class="nav-item">{{#link-to
        "users"
        class="nav-link"
      }}Users{{/link-to}}</li>
    <li class="nav-item">{{#link-to
        "reports"
        class="nav-link"
      }}Reports{{/link-to}}</li>
  </ul>
</div>
{{!-- {{yield}} --}}
