{{yield}}

<div class="card w-100 m-1">
  <div class="card-body row align-items-center">
    <div class="card-title col-8 text-start">
      <span class="fs-6">order </span><span
        class="text-start fs-4 fw-semibold"
      >#123</span>
      <div class="fs-6 fw-lighter"><i class="bi bi-person-fill"></i>
        <span> John Doe</span>
      </div>
    </div>
    <div class="card-text col-2"><i class="bi bi-patch-check-fill"></i>
      Delivered</div>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-outline-primary col-2"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      View Details
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><span
                class="fs-6 fw-light"
              >order </span><span
                class="text-start fs-4 fw-semibold"
              >#123</span></h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-8 text-start">
                    Order Item Name
                  </div>
                  <div class="col-2">
                    x2
                  </div>
                  <div class="col-2">
                    $12
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <div class="fs-4 fw-semibold">$234 </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
