{{yield}}

<div class="col p-0 border-start border-end h-100">
  <h2 class="py-3">Categories </h2>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action p-3">Breakfast</a>
    <a href="#" class="list-group-item list-group-item-action p-3">Breakfast</a>
    <a href="#" class="list-group-item list-group-item-action p-3">Breakfast</a>
    <a href="#" class="list-group-item list-group-item-action p-3">Breakfast</a>
    <a href="#" class="list-group-item list-group-item-action p-3">Breakfast</a>

  </div>
</div>
