{{yield}}

<div class="col p-0 border-start border-end h-100">
  <h2 class="py-3 border-bottom">Categories </h2>
  <div class="list-group">
    {{#each categories as |category|}}
      <button
        href="#"
        class="list-group-item list-group-item-action p-3"
        style="border-radius: 0px;"
      >
        {{category.name}}
      </button>
    {{/each}}

  </div>
</div>
