{{yield}}

{{menu/item-container/menu-bar categories=categories}}
<div id="item-container" class="row overflow-scroll">

  {{#each items as |item|}}
    {{menu/item-container/item-card item=item}}
  {{/each}}
</div>
